fastapi
uvicorn
httpx
ollama
qdrant-client
llama-index
pypdf
python-multipart
tqdm
python-dotenv
unstructured
tiktoken
llama-index-llms-ollama
llama-index-embeddings-ollama
llama-index-vector-stores-qdrant
llama-index-postprocessor-sbert-rerank
llama-index-retrievers-bm25
sentence-transformers
streamlit
requests
pymupdf
python-docx